@use "../../styles/variables.scss" as vars;

.task {
  font-family: vars.$font-family;
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: vars.$card-shadow;
  transition: transform 0.2s ease;
  cursor: pointer;

  &:hover {
    transform: scale(1.02);
  }

  h2 {
    margin: 0 0 8px 0;
    font-size: 18px;
  }

  p {
    margin: 4px 0;
    font-size: 14px;
    color: #666;
  }

  .label {
    font-weight: bold;
    color: #333;
  }

  .completed {
    color: green;
    font-weight: bold;
  }

  .pending {
    color: red;
    font-weight: bold;
  }

  .actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 8px;
    gap: 8px;

    button {
      font-family: "Roboto Mono", monospace;
      padding: 8px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 0.2rem;

      &.botonEdit {
        background-color: #f0f0f0;
        color: black;
      }

      &.botonDelete {
        background-color: rgb(237, 81, 54);
        color: white;
      }
    }
  }
}
