$font-family: "Roboto Mono", monospace; // Fuente principal
$primary-gradient: linear-gradient(
  90deg,
  rgba(93, 118, 169, 1) 0%,
  rgba(65, 105, 225, 1) 26%,
  rgba(166, 166, 178, 1) 92%
); // Gradiente de fondo
$button-bg: rgb(37, 38, 41); // Color del botón
$button-hover-bg: #727276; // Color del botón al pasar el mouse
$link-color: rgb(65, 105, 225); // Color del enlace

.container {
  font-family: $font-family;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: $primary-gradient;
}

.form {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.inputField {
  width: 100%;
  padding: 0.5rem;
  margin: 1rem 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.button {
  width: 100%;
  padding: 0.75rem;
  background-color: $button-bg;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: $button-hover-bg;
  }
}

.error {
  color: red;
  font-size: 0.875rem;
  margin-top: 0.5rem;
}

.registerLink {
  margin-top: 1rem;
  font-size: 0.9rem;
  text-align: center;

  a {
    color: $link-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
