@use "../../styles/variables.scss" as vars;

.container {
  font-family: vars.$font-family;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(
    90deg,
    rgba(93, 118, 169, 1) 0%,
    rgba(65, 105, 225, 1) 50%,
    rgba(166, 166, 178, 1) 100%
  );
}

.form {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 300px;

  input {
    width: 100%;
    padding: 0.5rem;
    margin: 1rem 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .button {
    width: 100%;
    padding: 0.75rem;
    background-color: rgb(37, 38, 41);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background-color: #727276;
    }
  }

  .error {
    color: red;
    font-size: 0.875rem;
    margin-top: 0.5rem;
  }
  .success {
    color: green;
    font-size: 1rem;
    margin-top: 10px;
  }
}

.registerLink {
  margin-top: 1rem;
  font-size: 0.9rem;
  text-align: center;

  a {
    color: vars.$link-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
