@use "../../styles/variables.scss" as vars;

.addButton {
  display: flex;
  justify-content: center;
  background-color: vars.$primary-color;
  font-size: 16px;
  color: white;
  margin: 20px 0px 20px 0px;
  padding: 8px 8px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  &:hover {
    background-color: vars.$hover-color;
  }
  .icon {
    padding: 0px 5px 0px 0px;
  }
}
