/* Estilo general del header */
header {
  font-family: "Roboto Mono", monospace;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(220, 220, 227) 92%;
  color: rgba(65, 105, 225, 1);
  padding: 1rem;
}

/* Botones (Menú y Volver) */
.buttonContainer {
  display: flex; /* Alinea los botones horizontalmente */
  align-items: center; /* Alinea los íconos verticalmente */
  gap: 1rem; /* Espacio entre los botones */
}

.backBtn,
.menuBtn {
  font-size: 2rem;
  background: none;
  border: none;
  color: rgba(65, 105, 225, 1);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Estilo del sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100%;
  background: rgba(65, 105, 225, 1) 51%;
  color: white;
  transition: left 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrar horizontalmente los enlaces */
}

.sidebar.open {
  left: 0;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: center;
}

.sidebar li {
  padding: 1rem;
}

.sidebar li a {
  color: white;
  text-decoration: none;
}

/* Logo */
.logoContainer {
  text-align: center;
  margin: 1rem 0;
}

.logo {
  font-size: 3rem;
  color: white;
}

/* Enlaces superiores */
.topLinks {
  margin-top: 1rem;
}

/* Enlaces inferiores */
.bottomLinks {
  flex-direction: column;
  display: flex;
  align-items: center;
  margin-top: auto;
  position: absolute;
  bottom: 1rem;
  width: 100%;
}
