.storiesContainer {
  padding: 2rem;
}

.title {
  font-family: "Roboto Mono", monospace;
  font-size: 2rem;
  color: rgba(65, 105, 225, 1);
  margin-bottom: 1.5rem;
}

.storyList {
  font-family: "Roboto Mono", monospace;
  list-style: none;
  padding: 0;
}

.storyItem {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: #f9f9f9;
}

.storyItem h2 {
  font-size: 1.5rem;
  color: #333;
}

.storyItem p {
  margin: 0.5rem 0;
  font-size: 1rem;
}
