.overlay {
  font-family: "Roboto Mono", monospace;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 400px;
}

.form input,
.form textarea {
  font-family: "Roboto Mono", monospace;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.conteinerButtons {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 8px;

  gap: 0.4rem;
}

.cancelar {
  font-family: "Roboto Mono", monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: rgb(220, 220, 227);
  padding: 8px;
  gap: 0.2rem;
}

.guardar {
  font-family: "Roboto Mono", monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(65, 105, 225, 1);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 8px;
  gap: 0.2rem;
}
