.botonEdit {
  font-family: "Roboto Mono", monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  gap: 0.2rem;
}

.botonDelete {
  font-family: "Roboto Mono", monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  gap: 0.2rem;
  background-color: rgb(237, 81, 54);
  color: white;
}

.tarea {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;

  .acciones {
    display: flex;
    gap: 8px;
  }
}
