$primary-color: rgba(65, 105, 225, 1);
$secondary-color: rgb(220, 220, 227);
$hover-color: rgb(122, 152, 244);
$white: #ffffff;
$font-family: "Roboto Mono", monospace;
$card-shadow: 2px 4px rgba(0, 0, 0, 0.1);
