@use "../../styles/variables.scss" as vars;

.homeContainer {
  font-family: vars.$font-family;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 80vh;
  animation: fadeIn 1s ease-out;

  @keyframes fadeIn {
    from {
      opacity: 0.5;
    }
    to {
      opacity: 1;
    }
  }
}

.title,
.description,
.imagenHome {
  width: 70%;
  padding: 8px;

  border-radius: 8px;
  box-shadow: vars.$card-shadow;
  background-color: vars.$title-bg;
  animation: fadeIn 1s ease-out;

  &.title {
    font-size: 2rem;
    color: vars.$primary-color;
    text-decoration: none;
    margin-top: 1rem;
  }

  &.description {
    text-align: justify;
    font-size: 1.2rem;
    margin-top: 1rem;
    color: #333;
    background-color: #f9f9f9;
  }

  &.imagenHome {
    box-shadow: vars.$card-shadow;
    padding: 0px;
  }
}

.fondoDegradado {
  width: 70%;
  height: 0.5rem;
  background: linear-gradient(
    90deg,
    rgba(220, 220, 227, 1) 0%,
    vars.$primary-color 100%
  );
  border-radius: 8px;
}
