@import "../../styles/variables.scss";

$font-family: "Roboto Mono", monospace;
$primary-color: rgba(65, 105, 225, 1);
$title-bg: rgb(222, 229, 249);
$card-shadow: 2px 4px rgba(0, 0, 0, 0.1);

.homeContainer {
  font-family: $font-family;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-size: 2rem;
  color: $primary-color;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: $title-bg;
  box-shadow: $card-shadow;
  text-decoration: none;
  width: 70%;
}

.description {
  text-align: justify;
  font-size: 1.2rem;
  margin-top: 1rem;
  color: #333;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: $card-shadow;
  width: 70%;
}

.fondoDegradado {
  width: 70%;
  height: 0.5rem;
  background: linear-gradient(
    90deg,
    rgba(220, 220, 227, 1) 0%,
    $primary-color 100%
  );
  border-radius: 8px;
}

.imagenHome {
  width: 70%;
  box-shadow: $card-shadow;
}
