@use "../../styles/variables.scss" as vars;

.storiesContainer {
  padding: 2rem;
  font-family: vars.$font-family;
  font-size: 1rem;
  color: vars.$primary-color;
}

.title {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.storyList {
  list-style: none;
  padding: 0;
}

.storyItem {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: vars.$card-bg;

  h2 {
    font-size: 1.5rem;
  }

  p {
    margin: 0.5rem 0;
    font-size: 1rem;
    color: vars.$text-color;
  }
}
