.container {
  font-family: "Roboto Mono", monospace;
  padding: 16px;

  .name {
    font-size: 2rem;
    color: #666;
    margin-bottom: 1.5rem;
  }

  .description {
    font-size: 18px;
    color: #666;
  }

  .addTaskButton {
    font-family: "Roboto Mono", monospace;
    background-color: rgba(65, 105, 225, 1);
    color: white;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;

    &:hover {
      background-color: rgb(122, 152, 244);
    }
  }

  .taskList {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}
