@use "../../styles/variables.scss" as vars;

.container {
  font-family: vars.$font-family;
  padding: 16px;

  .name {
    font-size: 2rem;
    color: #666;
    margin-bottom: 1.5rem;
  }

  .description {
    font-size: vars.$font-size-lg;
    color: #666;
  }

  .addTaskButton {
    font-family: vars.$font-family;
    background-color: rgba(65, 105, 225, 1);
    color: vars.$white;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;

    &:hover {
      background-color: vars.$hover-color;
    }
  }

  .taskList {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}
