@use "../../styles/variables.scss" as vars;

header {
  font-family: vars.$font-family;
  font-size: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: vars.$secondary-color;
  color: vars.$primary-color;
  padding: 1rem;
  z-index: 1000;
}

.buttonContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.backBtn,
.menuBtn {
  font-size: 2rem;
  background: none;
  border: none;
  color: vars.$primary-color;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100%;
  background: vars.$primary-color;
  color: vars.$white;
  transition: left 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;

  &.open {
    left: 0;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
  }

  li {
    padding: 1rem;

    a {
      color: vars.$white;
      text-decoration: none;
    }
  }
}

.logoContainer {
  text-align: center;
  margin: 1rem 0;

  .logo {
    font-size: 3rem;
    color: rgb(255, 255, 255);
  }

  .animatedLogo {
    animation: spin 20s linear infinite, glow 1s ease-in-out infinite;
  }
}

.topLinks {
  margin-top: 1rem;
}

.bottomLinks {
  flex-direction: column;
  display: flex;
  align-items: center;
  margin-top: auto;
  position: absolute;
  bottom: 1rem;
  width: 100%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes glow {
  0% {
    filter: drop-shadow(0 0 5px rgba(120, 121, 122, 0.5));
  }
  50% {
    filter: drop-shadow(0 0 15px rgba(65, 105, 225, 1));
  }
  100% {
    filter: drop-shadow(0 0 5px rgba(65, 105, 225, 0.5));
  }
}
